form {
    display: flex;
    gap: 10px;
    height: 70px;
}

input {
    outline: none;
    font-size: 1rem;
    border-radius: 5px;
    flex: 1 1 80%;
    border-radius: 10px;
    padding-left: 15px;
    font-size: 1.5rem;
    border-style: none;
}

input:placeholder-shown {
    padding-left: 15px;
}

form button {
    outline: none;
    flex: 1 1 20%;
    border-radius: 10px;
    border-style: none;
}

@media (max-width: 450px) {
    form {
        display: flex;
        gap: 10px;
        height: 40px;
    }
    form input {
        flex: 1 1 35%;
        font-size: 15px;
    }
    form button {
        flex: 1 1 0.5%;
    }
}